/* Шляпа */
body{
    background-color: #f7f7f7;
}
.parents{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.project{
    display: inline-block;
    color: gray;
    justify-content: center;
    border: 2px solid gray;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.sec{
    border: 2px solid gray;
    border-radius: 10px;
    margin-left: 200px; /* Отступ слева */
    margin-right: 200px; /* Отступ справа */
    padding-top: 20px;
    margin-bottom:30px;
    background-color: #fff;
}

.blockinf{
    display: block;
}

