{% extends 'main/layout.html' %}

{% block title %}Профиль пользователя{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'accounts/profile.css' %}">
<h2>Профиль: {{ user.username }}</h2>
<p>Email: {{ user.email }}</p>
<p>Github_link: {{ user_profile.github }}</p>
<p>Bio: {{ user_profile.bio }}</p>
<p>Location: {{ user_profile.location }}</p>
<p>Programming Languages: {{ user_profile.programming_languages }}</p>


<h3>Текущие проекты: </h3>
<ul>
    {% for project in projects %}
    <li>
        <a href="{% url 'project-details' project.pk %}">{{ project.title }}</a>
    </li>
    {% empty %}
    <li>Нет проектов</li>
    {% endfor %}
</ul>
{% if is_owner %}
<form method="post" action="{% url 'logout' %}">
    {% csrf_token %}
    <button type="submit">Выйти</button>
</form>
{% endif %}
{% endblock %}