.img {
    width: 100%; /* Изображение будет занимать всю ширину контейнера */
    height: auto; /* Высота будет автоматически подстраиваться под ширину */
    max-width: 100%; /* Максимальная ширина изображения */
    display: block; /* Убираем отступы под изображением */
}

@media (max-width: 768px) {
    .img {
        width: 50%; /* На экранах шириной до 768px изображение будет занимать 50% ширины контейнера */
    }
}

@media (max-width: 480px) {
    .img {
        width: 80%; /* На экранах шириной до 480px изображение будет занимать 80% ширины контейнера */
    }
}