/* Основные стили для контейнера профиля */
.profile-container {
    font-family: Arial, Helvetica, sans-serif;
    color: #e5e5e5;
    padding: 20px;
    margin: 20px auto;
    max-width: 1400px;

}


.avatar-container img{
    border-radius: 50%;
    width: 250px;
    height: 250px;
    margin-bottom: 20px;
    display: flex;
    flex-shrink: 1;
}

.profile-title{
    opacity: 0.5;
    font-size: 24px;
    margin-bottom: 20px;
}

.prof-img{
    display: inline-block;
    padding-right: 30px;
    border-right: 0.5px solid gray;
    padding-bottom: 20px;
    max-height: 400px;
}

.prof-img a{
    display: block;
    margin: 0 auto;
}

.user-inf{
    display: flex;
    margin-bottom: 100px;

}

.inf-n{
    display: none;
}


.inf{
    margin-left: 30px;
    padding: 20px;
    background: rgb(43, 41, 41, 0.5);
    width: 50%;
    border-radius: 20px;
    height: 200px;
    margin-bottom: 70px;

}


.inf a{
    text-decoration: none;
    color: #e5e5e5;
    opacity: 0.6;
}



.projects-list li{
    list-style: none;
    padding-left: 0;
    display: inline-block;
    margin-right: 20px;
    padding: 10px 20px ;
    background: rgba(104, 98, 98, 0.5);
    border-radius: 10px;
}

.projects-list li a{
    color: white;
    text-decoration: none;
    padding: 4px 10px ;

}

.projects-list li::before{
    content: "🙂";
}

.projects-list li::after{
    content: "🙂";
}



.projects-list{
    padding-left: 0;
}

.projects-title{
    border: none;
    border-radius: 10px;
    background: rgb(56, 56, 216);
    padding: 10px 28px;
    color: white;
    margin-bottom: 20px;
}

.block-btn{
    margin-left: 10px;
    padding-bottom: 4px;
    border-bottom: 0.5px solid rgb(156, 154, 154, 0.4);
}

.btn-list a{
    text-decoration: none;
    color: white;
}

.btn-list{
    list-style: none;
    padding-left: 0;
    padding: 10px 20px;
    border-radius: 30px;
    transition: all 500ms ease;
}

.btn-list:hover{
    background: rgb(156, 154, 154, 0.2);
}



.btn-title{
    display: flex;
    justify-content: space-between;
}

.r-nav{
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 77%, rgba(36,9,119,1) 100%);
    width: 350px;
    margin-left: 30px;
    border-radius: 40px;
    height: 700px;
    padding: 100px 20px;
}


