/* accounts/static/accounts/review_applications.css */

.project-card {
    margin-bottom: 20px;
    background-color: #2c2c2e;
    padding: 20px;
    border-radius: 20px;
    width: 100%;
    color: #e5e5e5;
}

.project-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-header h3 {
    margin: 0;
    color: #bb86fc;
}

.toggle-btn {
    background-color: #333;
    color: #e5e5e5;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.toggle-btn:hover {
    background-color: #bb86fc;
    color: #1c1c1e;
}

.show-reviewed-btn {
    background-color: #333;
    color: #e5e5e5;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-top: 10px;
}

.show-reviewed-btn:hover {
    background-color: #bb86fc;
    color: #1c1c1e;
}

.requests-list {
    list-style: none;
    padding-left: 0;
    margin-top: 10px;
}

.requests-list li {
    background-color: #1c1c1e;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.requests-list li a {
    color: #bb86fc;
    text-decoration: none;
    opacity: 0.6;
}

.requests-list li a:hover {
    opacity: 1;
}

.btn {
    padding: 5px 10px;
    border-radius: 5px;
    color: #e5e5e5;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
}

.btn-outline-success {
    border-color: #bb86fc;
    color: #bb86fc;
    background-color: transparent;
}

.btn-outline-success:hover {
    background-color: #bb86fc;
    color: #1c1c1e;
}

.btn-outline-danger {
    border-color: #ff5252;
    color: #ff5252;
    background-color: transparent;
}

.btn-outline-danger:hover {
    background-color: #ff5252;
    color: #1c1c1e;
}

.reviewed-applications {
    margin-top: 20px;
}