{% extends 'main/layout.html' %}

{% block title %}
<title>Все проекты </title>
{% endblock %}

{% block content%}
{% load static %}
<link rel="stylesheet" href="{% static 'projects/details_view.css' %}">

<section>
    <div class="string">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="Изображение проекта">
                    <div class="card-body">
                        <h5 class="card-title">{{ project.title }}</h5>
                        <p class="card-text">{{ project.stack }}</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Описание: {{ project.description }}</li>
                        <li class="list-group-item">Дата создания: {{ project.date_t }}</li>
                        <li class="list-group-item">
                            Создатель: <a href="{% url 'profile' project.creator.username %}">{{ project.creator.username }}</a>
                        </li>
                    </ul>
                    <div class="card-body">
                        <a href="#" class="card-link"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<a href="/projects/add_projects">
    <button type="button" class="btn btn-outline-success">Добавить проект</button>
</a>
<span> {{ error }}</span>

{% endblock %}