{% extends 'main/layout.html' %}

{% block title %}
<title>Детали проекта</title>
{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'projects/details_view.css' %}">

<section class="projects-section">
    <div class="projects-container">
        <div class="project-card {% if not has_access %}blurred{% endif %}">
            <div class="project-info">
                <h5 class="project-title">{{ project.title }}</h5>
                <p class="project-stack">{{ project.stack }}</p>
                <ul class="project-details">
                    <li><i class="fas fa-info-circle"></i> Описание: {{ project.description|safe }}</li>
                    <li><i class="fas fa-code-branch"></i> Тип разработки: {{ project.type }}</li>
                    <li><i class="fas fa-hashtag"></i> Hashtag: {{ project.hashtag }}</li>
                    <li><i class="fas fa-calendar-alt"></i> Дата создания: {{ project.date_t }}</li>
                    <li><i class="fas fa-user"></i> Создатель: 
                        <a href="{% url 'profile' project.creator.username %}">{{ project.creator.username }}</a>
                    </li>
                </ul>
                {% if user == project.creator %}
                <a href="{% url 'edit_project' project.pk %}" class="btn btn-primary">
                    <i class="fas fa-edit"></i> Редактировать проект
                </a>
                <a href="{% url 'project_settings' project.pk %}" class="btn btn-secondary">
                    <i class="fas fa-cogs"></i> Настройки проекта
                </a>
                {% endif %}
            </div>
        </div>
        {% if not has_access %}
        <p class="private-message">Этот проект является приватным. У вас нет доступа для просмотра деталей.</p>
        {% endif %}
    </div>
</section>

{% if has_access %}
<section class="comments-section">
    <h2 class="section-title">Комментарии</h2>
    <div id="comments">
        {% for comment in comments %}
        <div class="comment {% if comment.author == project.creator %}author-comment{% endif %}">
            <p class="comment-author">
                <strong>{{ comment.author }}</strong> 
                {% if comment.author == project.creator %}
                <span class="author-label">(Автор проекта)</span>
                {% endif %}
                <span class="comment-date">({{ comment.created_date|date:"d M Y H:i" }})</span>:
            </p>
            <p class="comment-text">{{ comment.text }}</p>

            <!-- Добавляем раздел для ответов -->
            <div class="comment-replies">
                {% for reply in comment.replies.all %}
                <div class="reply">
                    <p class="comment-author">
                        <strong>{{ reply.author }}</strong>
                        {% if reply.author == project.creator %}
                        <span class="author-label">(Автор проекта)</span>
                        {% endif %}
                        <span class="comment-date">({{ reply.created_date|date:"d M Y H:i" }})</span>:
                        <span class="reply-to">в ответ на <strong>{{ reply.parent.author }}</strong></span>
                    </p>
                    <p class="comment-text">{{ reply.text }}</p>
                </div>
                {% endfor %}
            </div>

            {% if user.is_authenticated %}
            <!-- Форма для добавления ответа на комментарий -->
            <form method="post" action="{% url 'add_reply' comment.pk %}" class="reply-form">
                {% csrf_token %}
                <textarea name="text" rows="2" placeholder="Ответить на комментарий..."></textarea>
                <button type="submit" class="submit-button">Ответить</button>
            </form>
            {% endif %}
        </div>
        {% endfor %}
    </div>

    {% if user.is_authenticated %}
    <h2 class="section-title">Добавить комментарий</h2>
    <form method="post" action="{% url 'add_comment' project.pk %}" class="comment-form">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <button type="submit" class="submit-button">Отправить</button>
    </form>
    {% else %}
    <p class="login-message">
        Пожалуйста, <a href="{% url 'login' %}" class="login-link">войдите</a>, чтобы оставить комментарий.
    </p>
    {% endif %}
</section>
{% endif %}

<span class="error-message">{{ error }}</span>
{% endblock %}
