{% extends 'main/layout.html' %}

{% block title %}
<title>Главная</title>
{% endblock %}

{% block content%}
{% load static %}
<link rel="stylesheet" href="{% static 'main/index.css' %}">

<div class="hero-section">
    <div class="container">
        <div class="uptext">
            <h1 class="h1-text">Загружайте свои проекты и вступайте в другие команды</h1>
            <p class="p-text">Создавайте, делитесь, вдохновляйтесь! У нас на сайте можно загрузить свои проекты, посмотреть идеи других, найти новых коллег и друзей. Воспользуйтесь всеми возможностями нашей платформы, чтобы ваш проект засиял ярче!</p>
            <div class="btn-hero">
                <a href="{% url 'add_projects' %}" class="btn1">Добавить проект</a>
                <a href="{% url 'about' %}" class="btn2">Узнать больше</a>
            </div>
        </div>
        <!-- Фон видео или изображение -->
        <video autoplay loop muted class="background-video">
            <source src="{% static 'main/code-1_desktop-7ab52aea335.mp4' %}" type="video/mp4">
            <!-- Резервное изображение, если видео недоступно -->
            <img src="{% static 'images/your-background-image.jpg' %}" class="background-image" alt="Background Image">
        </video>
    </div>
</div>

<div class="main-section">
    <div class="container">
        <div class="btn-col">
            <ul class="bcol">
                <li><a href="{% url 'all_projects' %}">Проекты</a></li>
                <li><a href="{% url 'index' %}">Главная</a></li>
                <li><a href="{% url 'about' %}">О нас</a></li>
                <li><a href="{% url 'register' %}">Регистрация</a></li>
                <li><a href="{% url 'login' %}">Вход</a></li>

            </ul>
        </div>
        <p class="btn-p">"Платформа для тех, кто хочет больше!" Не просто смотри, а действуй! Найди проект, предложи свою идею или вступи в команду — всё это прямо здесь.</p>
    </div>
</div>


<HR>


<div class="new-section">
    <h2 class="h2-new">Accelerate performance</h2>
    <p class="p-new">С помощью GitHub Copilot, встроенного во всю платформу, вы можете упростить цепочку инструментов, автоматизировать задачи и улучшить взаимодействие с разработчиками.</p>
</div>


<HR>

<div class="vote-sec">
    
</div>


<script>

</script>
{% endblock %}